<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <servlet>
        <servlet-name>validatePost</servlet-name>
        <servlet-class>FallingDown.post.newpost.validatePost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadtest</servlet-name>
        <servlet-class>test.uploadtest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateComment</servlet-name>
        <servlet-class>FallingDown.post.comment.ValidateComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewPost</servlet-name>
        <servlet-class>FallingDown.post.newpost.NewPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportPost</servlet-name>
        <servlet-class>FallingDown.post.report.ReportPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sharer</servlet-name>
        <servlet-class>FallingDown.post.sharer.Sharer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifyPost</servlet-name>
        <servlet-class>FallingDown.post.modify.post.ModifyPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoModify</servlet-name>
        <servlet-class>FallingDown.post.modify.post.DoModify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifyComment</servlet-name>
        <servlet-class>FallingDown.post.modify.comment.ModifyComment</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>validatePost</servlet-name>
        <url-pattern>/validatePost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadtest</servlet-name>
        <url-pattern>/uploadtest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateComment</servlet-name>
        <url-pattern>/validateComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewPost</servlet-name>
        <url-pattern>/newpost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportPost</servlet-name>
        <url-pattern>/reportpost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sharer</servlet-name>
        <url-pattern>/sharer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyPost</servlet-name>
        <url-pattern>/modifypost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoModify</servlet-name>
        <url-pattern>/post/domodify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyComment</servlet-name>
        <url-pattern>/modifycomment</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>500</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/error.jsp</location>
    </error-page>
</web-app>
