<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Index</servlet-name>
        <servlet-class>me.FallingDownLib.about.pages.Index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FAQPage</servlet-name>
        <servlet-class>me.FallingDownLib.about.pages.FAQPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WebmasterPage</servlet-name>
        <servlet-class>me.FallingDownLib.about.pages.WebmasterPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VictorKabdebonPage</servlet-name>
        <servlet-class>me.FallingDownLib.about.pages.VictorKabdebonPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HugoLeygnacPage</servlet-name>
        <servlet-class>me.FallingDownLib.about.pages.HugoLeygnacPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FlorianDuraffourgPage</servlet-name>
        <servlet-class>me.FallingDownLib.about.pages.FlorianDuraffourgPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EquipePage</servlet-name>
        <servlet-class>me.FallingDownLib.about.pages.EquipePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdPage</servlet-name>
        <servlet-class>me.FallingDownLib.about.pages.AdPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ParticipatePage</servlet-name>
        <servlet-class>me.FallingDownLib.about.pages.ParticipatePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TechnologyPage</servlet-name>
        <servlet-class>me.FallingDownLib.about.pages.TechnologyPage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FAQPage</servlet-name>
        <url-pattern>/faqpage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WebmasterPage</servlet-name>
        <url-pattern>/webmasterpage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VictorKabdebonPage</servlet-name>
        <url-pattern>/team/victorkabdebonpage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FlorianDuraffourgPage</servlet-name>
        <url-pattern>/team/florianduraffourgpage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HugoLeygnacPage</servlet-name>
        <url-pattern>/team/hugoleygnacpage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EquipePage</servlet-name>
        <url-pattern>/equipepage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdPage</servlet-name>
        <url-pattern>/adpage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ParticipatePage</servlet-name>
        <url-pattern>/participatepage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TechnologyPage</servlet-name>
        <url-pattern>/technologypage</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index</welcome-file>
    </welcome-file-list>
</web-app>
