.hit {
    display:block;
    padding-top: 10px;
    border-top: 1px dashed gray;
    height: 130px;
    position:relative;
    overflow: hidden;
}
.hit > img{
    float:left;
    padding :4px;
    margin:3px;
    border: 1px dotted grey;
}
div.marker{
    display:block;
    float:right;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid black;
    padding: 1px;
    background-color: #dbf5fb;
    font-size: small;
    position: absolute;
    right: 0px;
    top:50%;
    font-weight: bolder;
}

div.marker_post{
    color:gray;
}

div.marker_comment{
    color:green;
}

div.marker_user{
    color:black;
}

