root { 
    display: block;
}

div#top_nav{
    height: 50px;
    border-bottom: 2px solid black;
}
div#corpse_nav{
    height: 100%;
}
div.left_col{
    width: 170px;
    position: relative;
    display: inline;
    border-right: 2px solid black;
    height: 100%;
}
div.right_col{
    display: inline;
    position: relative;
    left: 180px;
    width: 100%;
}
#top_about{
    height: 80px;
}
#bottom_about{
    height: 100%;
}
#top_about > div.right_zone{
    text-align: center;
}
div.left_zone{
    float:left;
    overflow: hidden;
    padding: 0 0 1em;
    position: relative;
    width: 22%;
    height: 100%;

}
div.right_zone{
    float:left;
    overflow: hidden;
    padding: 0 0 1em;
    position: relative;
    width: 78%;
    height: 100%;
}
ul{
    list-style: none;
    padding: 10px;
    margin: 0;
}