body{
    color:#3F3F3F;
    margin:0px;
    background-color: #CBCBCB;
    font-family:Verdana, TimesNR;
    font-size: 85%;
}
a{
    cursor: pointer;
    font-weight: bold;
}
div#container{
    
    
}
#subscribe{
    position: relative;
}

div#content{
    overflow: hidden;
    min-height:200px;
    background-color: white;
    display:block;
    width: 95%;
    border-radius:10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin: 10px auto 40px auto;
    padding: 10px;
}
#login_form button{
    color:#FFF;
    height: auto;
    background-color: #94A3D6;
    border-radius:3px;
    -moz-border-radius: 3px;
    -webkit-border-radius:3px;
    border: none;
    border-bottom: 2px solid #1C3661;
    border-top: 2px solid #E3EDFF;
}

#login_form button:active{
    background-color: #5A6DA3;
}

#subscribe button{
    color:#FFF;
    position: absolute;
    bottom: 30px;
    left: 510px;
    height: 50px;
    background-color: #FF5742;
    border-radius:3px;
    -moz-border-radius: 3px;
    -webkit-border-radius:3px;
    border: none;
    border-bottom: 2px solid #630F08;
    border-top: 2px solid #E8D4D1;
}
#subscribe button:active{
    background-color: #DB3A2E;
}

body input,textarea {
    border-radius:3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: #FFFFFF;
    border:1px solid grey;
}
body select{
    height: 25px;
    border-radius:3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border:1px solid grey;
}
body input:focus,textarea:focus{
    transition:all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    box-shadow:0 0 7px #A185B0;
    -moz-box-shadow:0 0 7px #A185B0;
    -webkit-box-shadow:0 0 7px #A185B0;
    outline: none;
}