#up_box{
    position:relative;
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}
div#up_box > ul.topnav{
    background: #000; /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3F3F3F', endColorstr='#000000'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#3F3F3F), to( #000000)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #3F3F3F, #000000 ); /* for firefox 3.6+ */
}
div#up_box > div#logo_menu{
    background-color: #755CAC;
    padding-bottom: 3px;
    padding-top: 3px;
    height: 86px;
}
div#up_box > div#logo_menu> img{
    position: absolute;
    left: 0px;
}
div#up_box a{
    text-decoration: none;
    color:inherit;
}
div#up_box a:visited{
    text-decoration: none;
    color:inherit;
}
ul.topnav {
    color:white;
    height:1.8em;
    width:100%;
    list-style: none;
    padding: 0px;
    margin: 0;
    display:block;
    background: black;
    font-size: 1.4em;
    font-family: "Impact";
    font-weight: lighter;
}

div#up_box > div.categories{
    width:100%;
    height: 3.5em;
    background-color: #281D57;
    border-bottom-right-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px;
}

div#up_box > div.categories > img#main_logo{
    right:20px;
    position:absolute;
}


ul.topnav > li {
    height: 31px;
    float: left;
    margin: 0;
    padding: 7px 7px 0px 7px;
    position: relative; /*--Declare X and Y axis base for sub navigation--*/
}
ul.topnav > li > a{
    top:-3px;
    padding: 0px 0px;
    color: #fff;
    display: block;
    text-decoration: none;
    float: left;
}
ul.topnav > li > a:hover{
    text-shadow: #AAAAAA 3px 3px 3px;
}
div.categories a:visited{
    color:inherit;
}
div.categories div#category_filter ul.filter{
    height: 20px;
    white-space: nowrap;
    width: 100%;
    margin:0px;
    list-style: none outside none;
    padding:0px;
}
div.categories div#category_filter{
    background-color: #B7B7D4;
    border-bottom-right-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
    font-weight: bolder;
    bottom:0px;
    position:absolute;
    right:0px;
}
div.categories div#category_filter li ul.subnav {
    list-style: none;
    position: absolute;
    background-color: #B7B7D4;
    right: 0px;
    width: 209px;
    margin: 0; padding: 0;
    display: none;
    float: left;
    border-bottom: 1px;
    border-top: 0px;
    border-right: 1px;
    border-left:1px;
    border-style: solid;
    border-color: #111;
    border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    box-shadow:2px 2px 3px 0 #A9A9A9;
    -moz-box-shadow:2px 2px 3px 0 #555555;
    -webkit-box-shadow:2px 2px 3px #555555;
    z-index: 10;
}
ul.topnav li ul.subnav li{
    margin: 0; padding: 0;
    clear: both;
    width: 209px;
}
html ul.topnav li ul.subnav li a {
    float: left;
    width: 209px;
    padding-left: 20px;
}
div.categories div#category_filter ul.filter > li {
    cursor:pointer;
    padding:0px 6px;
    display :inline;
    position: relative;
    height:100%;

}
div.categories div#category_filter ul.filter > li.selected  span.text {
    color: #F5E1FF;
}
div.categories > div.category_select{
    color:#C2C2C4;
    padding: 0px 1em;
    display:inline;
    font-weight: bold;
    width:100px;
    list-style: none outside none;
    top : 5px;
    margin:0px;
}
div.categories div.category_select.selected{
    background-color: #FAF6FC;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}
div.categories div.category_select.clicked{
    background-color: white;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}
div.categories div.category_select.clicked:hover{
    background-color: white;
}
div.categories div.category_select ul.sub_categories{
    list-style: none outside none;
    display:none;
    position:absolute;
    margin:3px 0px;
    padding: 3px 1em;
    font-weight: bold;
    list-style: none outside none;
    left:0px;
}
div.categories div.category_select ul.sub_categories li{
    display:inline;
    padding:1px 1em;
}
div.categories div.category_select ul.sub_categories li.selected{
    background-color: #FAF6FC;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}
div.categories div.category_select ul.sub_categories li:hover{
    background-color: #505088;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}

div.categories div.category_select:hover{
    background-color: #505088;
    cursor:pointer;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}
div.categories div.category_select.selected:hover{
    background-color: #FAF6FC;
}
div#search_container{
    position:absolute;
    right:10px;
    top:4.5em;
    background-color: #B7C1D6;
    padding: 4px;
    border-radius:7px;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
}
div#search_container > form#searchfield{
    margin:0px;
}
div#search_container > form#searchfield > input.text_box{
    width: 247px;
}
div#search_container > form#searchfield > input#submit{
    width: 102px;
}
.ui-autocomplete{
    list-style: none;
    padding: 0px;
    margin: 0px;
    width: 345px;
    overflow: hidden;
    background-color: white;
    border: 3px solid #000000;
    border-radius:6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    z-index: 10;
}
.ui-autocomplete li{
    height: 20px;
}
.ui-autocomplete a{
    margin: 0 0 0 5px;
    cursor: pointer;
}
.ui-autocomplete a:hover{
    cursor: pointer;
    text-decoration: none;
}