*.post{
    border:1px solid black;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow:3px 3px 6px 0 #A9A9A9;
    -moz-box-shadow:3px 3px 6px 0 #A9A9A9;
    -webkit-box-shadow:3px 3px 6px #A9A9A9;
    width: 97%  ;
    height: 10em;
    padding : 5px;
    margin-bottom: 10px;
    margin-top: 5px;
    position: relative;
    overflow: hidden;
    text-align: left;
    /** IE trick **/
}
.post > .bottom {
    border-bottom-right-radius:5px;
    -moz-border-radius-bottomright:5px;
    -webkit-border-bottom-right-radius:5px;
    border-bottom-left-radius:5px;
    -moz-border-radius-bottomleft:5px;
    -webkit-border-bottom-left-radius:5px;
    position : absolute;
    background: #E6E7E8;
    font-weight: bold;
    height:1.5em;
    width:100%;
    bottom: 0px;
    left:0px;
}
.post > .bottom > div.author {
    float:left;
    padding-left:5px;
}
.post > .bottom > div.comments{
    float:right;
    padding-right:5px;
}
*.post_content > a > img{
    border: 1px dotted grey;
    padding:4px;
    float: left;
    margin : 3px;
}
*.post_content > a{
    color:#728CDD;
}
*.post > .post_content{
    width:90%;
    height:85%;
}
div.post_content > div.description{
    height:90%;
    overflow:hidden;
}
div.description > a{
    text-decoration: none;
    color:#3F3F3F;
    font-weight: normal;
}
div.description > a:hover{
    text-decoration: none;
    color:black;
    font-weight: normal;
}
div.post_content > div.description > span.ellipsis_text{
    height:90%;
}
div.post_content > div.description span.short_url{
    color:grey;
    font-size: smaller;
    margin-right: 10px;
}