html{
    overflow: auto;
}
a{
    text-decoration: none;
    color: #A185B0;
}
#popup_footer{
    list-style: none;
    position: fixed;
    bottom: 0px;
    right: 0px;
    background-color: #fff;
    padding: 0 0 5px 0;
    margin: 0px;
    border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    box-shadow:-1px -1px 5px #000;
    -moz-box-shadow: -1px -1px 5px #000;
    -webkit-box-shadow: -1px -1px 5px #000;
}
#popup_footer li{
    margin: 5px;
    display:inline;
}
#popup_footer a{
    font-weight: bolder;
}
#link_to_nucleus{
    font-weight: bolder;
    clear:both;
}
button{
    padding: 3px;
    border-radius:6px;
    -moz-border-radius: 6px;
    -webkit-border-radius:6px;
    color: #FFFFFE;
    font-weight: bolder;
}
#vote_zone{
    text-align: center;
}
#vote_zone button#vote{
    margin: 0 5px 0 5px;
    width: 100px;
    background-color: #0B9103;
}
#vote_zone button#vote:active{
    background-color: #067200;
}
#vote_zone button#cancel{
    margin-top: 5px;
    margin: 0 5px 0 5px;
    background-color: #FF4848;
}
#vote_zone button#cancel:active{
    background-color: #ED0000;
}
#nucleus_head{
    word-wrap: break-word;
    overflow: hidden;
    height: 125px;
    background-color: #EEEEFF;
    margin-bottom: 10px;
    border-radius:5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border:1px solid #DCDCF7;
}
#image {
    border:1px dotted grey;
    float:left;
    margin:7px;
    padding:4px;
}
#nucleus_description{
    clear :left;
}
div.error{
    font-weight: bolder;
    color: #FFF5F5;
    margin-right: 7px;
    height: 20px;
    padding: 3px 10px;
    z-index: 1000;
    background-color:#F93030;
    border-radius:4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
div.error > p{
    margin:0px;
}
.title{
    font-family: "Impact";
    font-size: 150%;
}
input{
    height: 25px;
    width: 250px;
}
.left_col{
    width: 250px;
}
#subscribe_click{
    cursor: pointer;

}
#comments{
    clear:right;
}