div#list_error{
    border: 2px dashed red;
    width: 60%;
    margin:20px auto;
}
div#disclaimer{
    border-radius:6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    width: 700px;
    background-color: #fff;
    font-weight: bolder;
    text-align: center;
    margin: 10px auto 20px auto;
}
div#list_error > span.title{
    margin-bottom: 10px;
    font-weight: bolder;
    border-bottom: 2px solid black;
}
div#list_error > div{
    font-style: italic;
    padding-left: 20px;
}
form{
    display: block;
}
select{
    width: 400px;
}
select.sub_category{
    display: none;
    
}
form#newpost_form input{
    width:400px;
}
td.left_col{
    font-weight: bold;
    width: 200px;
}
textarea#textarea_description{
    display:block;
}
#post_by_url{
    width: 80%;
    background-color: #EFEFEF;
    padding: 5px;
    margin: 0px auto 10px auto;
    border-radius:5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border:1px solid grey;
}