root { 
    display: block;
}

#info_user{
    display:table-row;
}
#info_user > li {
    display: table-cell;
    text-align: center;
    
}
li.left_panel{
    width: 200px;
}
li.right_panel {
    width: 750px;
    vertical-align: top;
}
div.user_categories{
    background-color: #F7F5C9;
    font-family: "Impact";
    font-size: large;
    border-bottom: 1px solid black;
        border-top-right-radius: 15px;
    -moz-border-radius-topright: 15px;
    -webkit-border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    -moz-border-radius-topleft: 15px;
    -webkit-border-top-left-radius: 15px;

}
div.user_categories > ul{
    display: table-row;
    padding: 0px;
    display: block;
    width: 100%;

}
div.user_categories > ul > li{
    display: table-cell;
    width: 250px;
    text-align: center;
    padding:5px 0px 5px 0px;
}
div.user_categories > ul > li.selected{
    color:#6B6E6B;
}